<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ラーメンのデリバリーのらくらく軒</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<link th:href="@{/css/noodle.css}" rel="stylesheet">
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
	<!-- ナビゲーションバー -->
	<nav class="navbar sticky-top navbar-expand-lg"
		style="background-color: rgba(0, 0, 0, 0.9);">
		<a class="navbar-brand" th:href="@{/}"><img id="logo"
			alt="main log" th:src="@{/img/header_logo.png}" height="50"></a>
		<button type="button" class="navbar-toggler" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="ナビゲーションの切替">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown" sec:authorize="hasRole('USER')">
					<a href="#" class="nav-link text-white dropdown-toggle"
					role="button" data-toggle="dropdown" id="navbarDropdownMenuLink"
					aria-haspopup="true" aria-expanded="false">マイページ</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<div class="dropdown-header text-center">
							<i class="fa fa-user-circle fa-5x mb-1"></i>
							<div>
								<span sec:authentication="principal.user.name"></span><span>さん</span>
							</div>
							<div>ログイン中</div>
						</div>
						<a class="dropdown-item" th:href="@{/showOrderHistory}"><i
							class="fa fa-history text-dark"></i> 注文履歴</a> <a
							class="dropdown-item" th:href="@{/config}"><i
							class="fa fa-cog text-dark"></i> 設定</a> <a class="dropdown-item"
							th:href="@{/logout}"><i class="fa fa-sign-out text-dark"></i>
							ログアウト</a>
					</div> <!-- ./dropdown-menu -->
				</li>
				<li class="nav-item"><a th:href="@{/showCartList}"
					class="nav-link text-white">ショッピングカート <i
						class="fa fa-shopping-cart fa-lg"></i></a></li>
				<li class="nav-item" sec:authorize="hasRole('USER') == false">
					<a th:href="@{/showLogin}" class="nav-link text-white">ログイン <i
						class="fa fa-sign-in fa-lg"></i></a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container my-5">
		<div class="row justify-content-sm-center">
			<div class="col-sm-10 text-center mb-4">
				<h3>お問合せフォーム</h3>
			</div>
			<div class="card col-sm-8 shadow-sm border-0">
				<div th:if="${success}" class="mx-3 mt-3 alert alert-success row"
					role="alert">
					<div class="my-auto col-sm-3">
						<strong>送信完了</strong>
					</div>
					<div class="col-sm-9">
						お問合せ内容の送信が完了しました。<br> 内容を確認し、ご登録いただいているメールアドレス及び<br>
						電話番号に弊社担当者より後ほどご連絡いたします。
					</div>
				</div>
				<form method="post" th:action="@{/config/contact}" class="card-body">
					<div class="form-group">
						<label for="input-subject">お問合せのカテゴリ</label> <select
							name="subject" id="input-subject" class="form-control">
							<option value="ご注文について">ご注文について</option>
							<option value="会員登録について">会員登録について</option>
							<option value="当社について">らくらく軒の運営元について</option>
							<option value="その他">その他</option>
						</select>
					</div>
					<div class="form-group">
						<label for="input-content">お問合せ内容</label>
						<textarea maxlength="1000" name="content" rows="15"
							id="input-content" class="form-control"
							placeholder="こちらにお問合せ内容を入力してください(最大文字数1,000文字)" required></textarea>
					</div>
					<button type="submit" class="btn btn-info">送信</button>
				</form>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>
</html>