<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ラーメンのデリバリーのらくらく軒</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link th:href="@{/css/noodle.css}" rel="stylesheet">
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
	<!-- ナビゲーションバー -->
	<nav class="navbar sticky-top navbar-expand-lg"
		style="background-color: rgba(0, 0, 0, 0.9);">
		<a class="navbar-brand" th:href="@{/}"><img id="logo"
			alt="main log" th:src="@{/img/header_logo.png}" height="50"></a>
		<button type="button" class="navbar-toggler" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="ナビゲーションの切替">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item nav-link text-white"
					sec:authorize="hasRole('USER')"><span
					sec:authentication="principal.user.name"></span>さん&nbsp;こんにちは！</li>
				<li class="nav-item"><a th:href="@{/showCartList}"
					class="nav-link text-white">ショッピングカート</a></li>
				<li class="nav-item"><a th:href="@{/showOrderHistory}"
					class="nav-link text-white">注文履歴</a></li>
				<li class="nav-item" sec:authorize="hasRole('USER') == false">
					<a th:href="@{/showLogin}" class="nav-link text-white">ログイン</a>
				</li>
				<li class="nav-item" sec:authorize="hasRole('USER')"><a
					th:href="@{/logout}" class="nav-link text-white">ログアウト</a></li>
			</ul>
		</div>
	</nav>

	<!-- table -->
	<div class="container my-5" style="padding-bottom: 20vh;">
		<div class="row justify-content-sm-center">
			<div
				class="table-responsive col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-xs-12">
				<h3 class="text-center mb-4">ショッピングカート</h3>
				<div th:if="${order}">
					<table class="table table-striped border shadow-sm">
						<tbody>
							<tr>
								<th>
									<div class="text-center">商品名</div>
								</th>
								<th>
									<div class="text-center">サイズ</div>
								</th>
								<th>
									<div class="text-center">価格(税抜)</div>
								</th>
								<th>
									<div class="text-center">数量</div>
								</th>
								<th>
									<div class="text-center">トッピング：価格(税抜)</div>
								</th>
								<th>
									<div class="text-center">小計</div>
								</th>
								<th></th>
							</tr>
							<tr class="bg-white" th:each="orderItem:${order.orderItemList}">
								<td>
									<div class="center">
										<img th:src="@{'/img/' + ${orderItem.item.imagePath}}"
											class="img-fluid rounded" width="100"><br> <span
											th:text="${orderItem.item.name}">商品名</span>
									</div>
								</td>
								<td class="text-center"><span th:text="${orderItem.size}">サイズ</span>
								</td>
								<td class="text-center"><span
									th:if="${orderItem.size} == 'M'"
									th:text="${#numbers.formatInteger(orderItem.item.priceM, 2 , 'COMMA')} + '円'">Mサイズ価格</span>
									<span th:if="${orderItem.size} == 'L'"
									th:text="${#numbers.formatInteger(orderItem.item.priceL, 2 , 'COMMA')} + '円'">Lサイズ価格</span>
								</td>
								<td class="text-center"><span
									th:text="${orderItem.quantity}">1</span>個</td>
								<td class="text-center">
									<ul class="list-unstyled"
										th:each="orderTopping:${orderItem.orderToppingList}">
										<li th:if="${orderTopping.id}"><span
											th:text="${orderTopping.topping.name}">トッピング名</span>： <span
											th:if="${orderItem.size} == 'M'"
											th:text="${orderTopping.topping.priceM}"></span><span
											th:if="${orderItem.size} == 'L'"
											th:text="${orderTopping.topping.priceL}"></span>円</li>
									</ul>
								</td>
								<td>
									<div class="text-center">
										<span
											th:text="${#numbers.formatInteger(orderItem.getSubTotal(), 2 , 'COMMA')} + '円'">3,280円</span>
									</div>
								</td>
								<td>
									<div class="text-center">
										<form th:action="@{/deleteCartItem}" method="post">
											<input type="hidden" name="userId" th:value="${order.userId}">
											<input type="hidden" name="orderItemId"
												th:value="${orderItem.id}">
											<button type="submit" class="btn btn-primary">削除</button>
										</form>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- カートに商品がない場合 -->
		<div class="text-center" th:if="${message}">
			<div class="alert alert-light col-sm-12 text-dark shadow-sm"
				role="alert" th:if="${message}" th:text="${message}">エラーメッセージ</div>
			<div class="mt-4">
				<a th:href="@{/}">
					<button class="btn btn-secondary" type="button">商品一覧ページに戻る</button>
				</a>
			</div>
		</div>
		<!-- row -->
	</div>
	<!-- end container -->
	<!-- 下部のナビゲーションバー -->
	<nav class="navbar navbar-light fixed-bottom" th:if="${order}"
		style="background-color: rgba(0, 0, 0, 0.6); min-height: 8vh;">
		<div class="mx-auto text-white my-3">
			<!-- 合計金額 -->
			<div th:if="${order}">
				<div class="text-center">
					<table class="text-right mx-auto">
						<tr>
							<td>小計：</td>
							<td
								th:text="${#numbers.formatInteger(order.getCalcTotalPrice(), 2 , 'COMMA')} + '円'"></td>
						</tr>
						<tr>
							<td>消費税：</td>
							<td
								th:text="${#numbers.formatInteger(order.getTax(), 2 , 'COMMA')} + '円'"></td>
						</tr>
					</table>
					<hr class="bg-white my-1">
					<div id="total-price" class="font-weight-bold mb-3"
						th:text="'ご注文金額合計：' + ${#numbers.formatInteger(order.getCalcTotalPrice() + order.getTax(), 2 , 'COMMA')} + '円 (税込)'"
						style="font-size: 1.3rem;">合計金額(税込)</div>
				</div>
			</div>

			<div th:if="${order}">
				<form th:action="@{/showOrderConfirm}" method="post">
					<input type="hidden" name="userId" th:value="${order.userId}">
					<input class="btn btn-info btn-block" type="submit" value="注文に進む">
				</form>
			</div>
		</div>
	</nav>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>
