<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ラーメンのデリバリーのらくらく軒</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<link th:href="@{/css/noodle.css}" rel="stylesheet">
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script th:src="@{/js/item_detail.js}"></script>
</head>
<body style="padding-bottom: 4.5rem;">
	<!-- ナビゲーションバー -->
	<nav class="navbar sticky-top navbar-expand-lg"
		style="background-color: rgba(0, 0, 0, 0.9);">
		<a class="navbar-brand" th:href="@{/}"><img id="logo"
			alt="main log" th:src="@{/img/header_logo.png}" height="50"></a>
		<button type="button" class="navbar-toggler" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="ナビゲーションの切替">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown" sec:authorize="hasRole('USER')">
					<a href="#" class="nav-link text-white dropdown-toggle"
					role="button" data-toggle="dropdown" id="navbarDropdownMenuLink"
					aria-haspopup="true" aria-expanded="false">マイページ</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<div class="dropdown-header text-center">
							<i class="fa fa-user-circle fa-5x mb-1"></i>
							<div>
								<span sec:authentication="principal.user.name"></span><span>さん</span>
							</div>
							<div>ログイン中</div>
						</div>
						<a class="dropdown-item" th:href="@{/showOrderHistory}"><i
							class="fa fa-history text-dark"></i> 注文履歴</a> <a
							class="dropdown-item" th:href="@{/config}"><i
							class="fa fa-cog text-dark"></i> 設定</a> <a class="dropdown-item"
							th:href="@{/logout}"><i class="fa fa-sign-out text-dark"></i>
							ログアウト</a>
					</div> <!-- ./dropdown-menu -->
				</li>
				<li class="nav-item"><a th:href="@{/showCartList}"
					class="nav-link text-white">ショッピングカート <i
						class="fa fa-shopping-cart fa-lg"></i></a></li>
				<li class="nav-item" sec:authorize="hasRole('USER') == false">
					<a th:href="@{/showLogin}" class="nav-link text-white">ログイン <i
						class="fa fa-sign-in fa-lg"></i></a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container my-5">
		<div class="row justify-content-sm-center">
			<div class="card col-sm-9 shadow-sm border-0">
				<form class="card-body" th:action="@{/addToCart}" method="post">
					<input type="hidden" name="itemId" th:value="${item.id}">
					<h3 class="card-title text-center mb-4 font-weight-bold">商品詳細</h3>
					<div class="row justify-content-sm-center">
						<div class="col-sm-5 mb-3 ">
							<img th:src="@{/img/} + ${item.imagePath}"
								class="img-fluid rounded" style="height: auto; width: 100%;">
						</div>
						<div class="col-sm-5">
							<h4 class="my-3" th:text="${item.name}">商品名</h4>
							<p>
								<span th:text="${item.description}"></span>
							</p>
						</div>
						<div class="col-sm-10">
							<h6 class="font-weight-bold mt-4">サイズ</h6>
							<div class="mb-4">
								<div class="form-check form-check-inline">
									<input id="inputSizeM" class="size form-check-input"
										type="radio" name="size" value="M" checked="checked"><label
										for="inputSizeM" class="form-check-label"><span
										class="btn btn-outline-primary rounded-circle px-1 mx-1"
										style="font-size: 12px; padding-top: 0px; padding-bottom: 0px;">Ｍ</span>¥<span
										id="price_M"
										th:text="${#numbers.formatInteger(item.priceM, 2, 'COMMA')}">1,380</span></label>
								</div>
								<div class="form-check form-check-inline">
									<input id="inputSizeL" class="size form-check-input"
										type="radio" name="size" value="L"><label
										for="inputSizeL" class="form-check-label"><span
										class="btn btn-outline-primary rounded-circle px-1 mx-1"
										style="font-size: 12px; padding-top: 0px; padding-bottom: 0px;">Ｌ</span>¥<span
										id="price_L"
										th:text="${#numbers.formatInteger(item.priceL, 2, 'COMMA')}">2,380</span>
									</label>
								</div>
							</div>
							<h6 class="font-weight-bold">トッピング</h6>
							<span class="mb-1"> 1つにつき <span
								class="btn btn-outline-primary rounded-circle px-1 mx-1"
								style="font-size: 12px; padding-top: 0px; padding-bottom: 0px;">Ｍ</span>¥200
								<span class="btn btn-outline-primary rounded-circle px-1 mx-1"
								style="font-size: 12px; padding-top: 0px; padding-bottom: 0px;">Ｌ</span>¥300
							</span>
							<div class="form-group mb-4">
								<div class="row">
									<div class="col-sm-3" th:each="topping:${item.toppingList}">
										<label class="checkbox-inline mb-0"> <input
											type="checkbox" name="orderToppingList"
											th:value="${topping.id}"><span class="ml-2"
											th:text="${topping.name}">トッピング名</span>
										</label>
									</div>
								</div>
							</div>
							<h6 class="font-weight-bold">数量</h6>
							<div class="form-group mb-4">
								<select id="quantity" name="quantity" class="form-control"
									style="max-width: 8vh;">
									<option th:each="i:${#numbers.sequence(1,10)}" th:value="${i}"
										th:text="${i}">1</option>
								</select>
							</div>
						</div>
					</div>
					<!-- 下部のナビゲーションバー -->
					<nav class="navbar navbar-light fixed-bottom"
						style="background-color: rgba(0, 0, 0, 0.6); min-height: 8vh;">
						<div class="mx-auto text-white">
							<span class="mr-3"> <span class="mr-2">この商品の金額</span> <span
								class="font-weight-bold pr-2" style="font-size: 1.3rem;">
									¥<span id="total_price"></span>+税
							</span>
							</span>
							<button class="btn btn-info" type="submit">カートに追加</button>
						</div>
					</nav>
				</form>
			</div>
		</div>
	</div>


	<!-- end container -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>
