<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ピザ屋のネット注文</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link th:href="@{/css/noodle.css}" rel="stylesheet">
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
	<!-- ナビゲーションバー -->
	<nav class="navbar sticky-top navbar-expand-lg"
		style="background-color: rgba(0, 0, 0, 0.9);">
		<a class="navbar-brand" th:href="@{/}"><img id="logo"
			alt="main log" th:src="@{/img/header_logo.png}" height="50"></a>
		<button type="button" class="navbar-toggler" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="ナビゲーションの切替">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item nav-link text-white"
					sec:authorize="hasRole('USER')"><span
					sec:authentication="principal.user.name"></span>さん&nbsp;こんにちは！</li>
				<li class="nav-item"><a th:href="@{/showCartList}"
					class="nav-link text-white">ショッピングカート</a></li>
				<li class="nav-item"><a th:href="@{/showOrderHistory}"
					class="nav-link text-white">注文履歴</a></li>
				<li class="nav-item" sec:authorize="hasRole('USER') == false">
					<a th:href="@{/showLogin}" class="nav-link text-white">ログイン</a>
				</li>
				<li class="nav-item" sec:authorize="hasRole('USER')"><a
					th:href="@{/logout}" class="nav-link text-white">ログアウト</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<!-- table -->
		<div class="row">
			<div
				class="table-responsive col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-xs-12">
				<h3 class="text-center">注文履歴</h3>
				<table class="table table-striped">
					<tbody>
						<tr>
							<th>
								<div class="text-center">商品名</div>
							</th>
							<th>
								<div class="text-center">サイズ、価格(税抜)、数量</div>
							</th>
							<th>
								<div class="text-center">トッピング、価格(税抜)</div>
							</th>
							<th>
								<div class="text-center">小計</div>
							</th>
							<th></th>
						</tr>
						<tr>
							<td>
								<div class="center">
									<img src="img/1.jpg" class="img-responsive img-rounded"
										width="100" height="300"><br> じゃがバターベーコン
								</div>
							</td>
							<td><span class="price">&nbsp;Ｌ</span>&nbsp;&nbsp;2,380円
								&nbsp;&nbsp;1個</td>
							<td>
								<ul>
									<li>ピーマン300円</li>
									<li>オニオン300円</li>
									<li>あらびきソーセージ300円</li>
								</ul>
							</td>
							<td>
								<div class="text-center">3,280円</div>
							</td>
							<td>
								<div class="text-center">
									<button type="submit" class="btn btn-primary">削除</button>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="center">
									<img src="img/1.jpg" class="img-responsive img-rounded"
										width="100" height="300"><br> じゃがバターベーコン
								</div>
							</td>
							<td><span class="price">&nbsp;Ｌ</span>&nbsp;&nbsp;2,380円
								&nbsp;&nbsp;1個</td>
							<td>
								<ul>
									<li>ピーマン300円</li>
									<li>オニオン300円</li>
									<li>あらびきソーセージ300円</li>
								</ul>
							</td>
							<td>
								<div class="text-center">3,280円</div>
							</td>
							<td>
								<div class="text-center">
									<button type="submit" class="btn btn-primary">削除</button>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="center">
									<img src="img/1.jpg" class="img-responsive img-rounded"
										width="100" height="300"><br> じゃがバターベーコン
								</div>
							</td>
							<td><span class="price">&nbsp;Ｌ</span>&nbsp;&nbsp;2,380円
								&nbsp;&nbsp;1個</td>
							<td>
								<ul>
									<li>ピーマン300円</li>
									<li>オニオン300円</li>
									<li>あらびきソーセージ300円</li>
								</ul>
							</td>
							<td>
								<div class="text-center">3,280円</div>
							</td>
							<td>
								<div class="text-center">
									<button type="submit" class="btn btn-primary">削除</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-offset-2 col-xs-8">
				<div class="form-group text-center">
					<span id="total-price">消費税：8,000円</span><br> <span
						id="total-price">ご注文金額合計：38,000円 (税込)</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-offset-5 col-xs-3">
				<div class="form-group">
					<form action="order_confirm.html">
						<input class="form-control btn btn-warning btn-block"
							type="submit" value="注文に進む">
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- end container -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>
